#Intellj Dir
.idea/
#Gradle Dir
.gradle/
#Output Dirs
build/
run/
libs/

#Node Modules
node_modules/

# Configuration File
config.json

# Logo
curseforge-updates.psd

# DB File
data.db

# Log file
bot.log

# Remote VPS Data Analysis folder
remote_data
