#Intellj Dir
.idea/
#Gradle Dir
.gradle/
#Output Dirs
build/
run/
libs/

#Node Modules
node_modules/

# Environment Configuration File
.env

# Logo
curseforge-updates.psd

# New SQLite DB File and its db-journal
data.db
# DB Backup
data_bak.db
data.db-journal
# old LokiJS DB
data.old.db

# Log file
logs/

# Data Analysis exports directory
exports
